
/** General **/
* {
  margin: 0;
  padding: 0;
}
body{
  background-color: #FFFFFF;
}

li {
  list-style: none;
}

h2 {
  color: #613DC1;
  margin-top: 1em;
}

header,
footer {
  background-image: linear-gradient(45deg, #613DC1, #7454C9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8em;
  box-shadow: 0px 2px 3px black;
}

footer {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
}

footer p {
  text-align: center;
  font-size: 3em;
  color: #E2FDFF;
}

header a:first-of-type {
  margin-left: 1em;
  text-decoration: none;
  color: #E2FDFF;
  font-size: 1.5em;
  padding: .2em .8em .2em .8em;
}


header a:hover {
  border-bottom: 1px solid #E2FDFF;
  border-top: 1px solid #E2FDFF;
}

header h1 {
  color: #E2FDFF;
  font-size: 3em;
}

/** nav **/

.nav a {
  color: #E2FDFF;
  font-size: 1.5em;
  padding: .2em .8em .2em .8em;
  text-decoration: none;
  width: 3em;
}

.nav {
  margin-right: 1em;
}

/** home **/

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55em;
}

.home article {
  align-items: center;
  background-image: linear-gradient(45deg, #613DC1, #7454C9);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 50em;
}

.home article h1 {
  text-shadow: .5px 2px 5px #004C52;
  color: #F2EFFA;
  font-size: 3.5em;
  margin-bottom: .5em;
  margin-top: 2em;
}
.home article ul {
  display: flex;
  flex-direction: row;
  margin-top: 3em;
  padding: 0;
}

.home article ul li {
  margin: 1em;
}

.home article ul li a {
  background-color: #F2EFFA;
  border-radius: 5px;
  color: #613DC1;
  font-size: 1.5em;
  padding: .5em 1em .5em 1em;
  text-decoration: none;
  width: 5em;
}

.home article ul li a:hover {
  box-shadow: 0px 0px 7px #E2FDFF;
}

.home-links nav {
  width: 50%;
  display:flex;
  justify-content: space-around;
}

.home-links nav a {
  background-color: #F2EFFA;
  border-radius: 5px;
  color: #613DC1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  height: 3em;
  padding: .2em .5em .2em .5em;
  text-decoration: none;
  text-align:center;
  width: 20%;
}

.home-links nav a:hover {
  box-shadow: 1px 1px 1px #613DC1;
}


/** Forms **/
.form-style {
  display: flex;
  flex-direction: column;
  width: 18em;


}
.form-style * {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin-top: .5em;
}

.form-style input {
  border: 1px solid black;
}

/** Centering **/
.centered-form-wrap,
.home-links {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5em;
}


/** Checklist **/

.checklist {
  margin-top: 2em;
}

.checklist tr th,
.checklist tr td {
  box-shadow: .5px 2px 5px #004C52;
  font-size: 1.5em;
  padding: 1em;
}

.checklist tr th {
  background-image: linear-gradient(45deg, #613DC1, #7454C9);
  color: #E2FDFF;
}

.check {
  width: 3em;
}

.check-submit {
  cursor: pointer;
  appearance: none;
  padding: .2em;
  font-size: 1.2em;
  color: #E2FDFF;
  border: none;
  background-image: linear-gradient(45deg, #613DC1, #7454C9);
  box-shadow: 0px 0px 5px #004C52;
  border-radius: 5px;
}

.check-submit:hover {
  box-shadow: none;
}

.checkbox {
  cursor: pointer;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  padding: 1.5em;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.checkbox:hover {
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.15);
}

.checkbox:checked {
	background-color: #e9ecee;
	color: #613DC1;
}

.checkbox:checked:after {
	content: '\2714';
	font-size: 3em;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #613DC1;
}

.check div{
  padding: .5px 5px 0px 5px;
  position: relative;
  text-align: center;
  width: 1.1em;
  box-shadow: 0px 0px 2px #004C52;
  left: 35%;
}

.check-date {
text-align: center;
}

/** Row **/

.row {
  text-align: center;
}

/** Doctors **/

.doctors {
  margin-top: 1em;
  margin-bottom: 1em;
}

.doctors tr th,
.doctors tr td {
  box-shadow: .5px 2px 5px #004C52;
  font-size: 1em;
  padding: .5em;
  background-color: #F2EFFA;
  color: #613DC1;
  text-align: center;
}

.doctor {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1em;

}



/** Patient **/
.patient {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3em;
  height: 100%;
}

.patient article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  font-size: 1.5em;
  border-radius: 3px;
  background-image: linear-gradient(45deg, #613DC1, #7454C9);
  color: #E2FDFF;
  padding: .5em 2em .5em 2em;
}
