li {
  list-style: none;
}
.form-style {
  display: flex;
  flex-direction: column;
  margin-left: 5em;
  width: 18em;


}
.form-style * {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin-top: .5em;
}

.form-style input {
  border: 1px solid black;
}
